.main {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-areas: '. section section section section .';
	column-gap: 1.5rem;
	margin-top: 1.5rem;
	padding: 0 1.5rem;
}

.section {
	grid-area: section;
}

.section > h3 {
	font-size: 1.5rem;
	font-weight: 500;
}

.section > p {
	line-height: 140%;
	margin-top: 1.5rem;
}
