.main {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-areas: '. section section section section .';
	column-gap: 1.5rem;
	margin-top: 1.5rem;
	padding: 0 1.5rem;

	height: calc(100vh - 12rem);
	overflow-x: hidden;
	overflow-y: auto;
}

.section {
	grid-area: section;
}

.category_name {
	font-size: 1.5rem;
	font-weight: 500;
}
