* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	font-family: var(--font-roboto);
	background: #e4e4e4;
	color: #333333;
}

.roboto {
	font-family: var(--font-roboto);
}

.glegoo {
	font-family: var(--font-glegoo);
}

img {
	vertical-align: middle;
}

a {
	color: inherit;
	text-decoration: none;
}

ul li,
ol li {
	list-style: none;
}

button {
	cursor: pointer;
}
